
body {
	margin: 0;
	overflow: hidden;
}

nav {
	position: absolute;
	right: 5px;
	top: -10px;
}

li {
	display: inline;
}

nav ul {
	float:right;
}

nav li {
	margin-right: 1em;
	font-size: 0.8em;
	font-family: Arial;
}

nav li:hover {
	text-decoration: underline;
}

nav a {
	text-decoration: none;
	font-size: 0.9em;
	color: #333;
}

.nav-text {
	position: relative;
	top: -8px;
}

#grid {
	opacity: .55;
	width: 27px;
	height: 27px;
}

#grid:hover {
	opacity: 1;
}

#bell {
	position: relative;
	top: -5px;
	background-color: #999;
	border-radius: 50%;
	width: 17px;
	height: 17px;
}

#bell:hover {
	background-color: #CCC;
}

#name {
	position: relative;
	top: 1px	;
	border-radius: 50%;
	width: 29px;
	height: 29px;
}

#logo {
	margin-top: 185px;
}

#logo img {
	width: 243px;
	display: block;
	margin: 0 auto;
}

#logo p {
	text-align: center;
	position: relative;
	left: 80px;
	top: -30px;
	font-size: 0.8em;
	font-family: Arial;
	color: rgb(80, 80, 255);
}

input[type=text] {
	position: relative;
	top: -15px;
	width: 500px;
	display: block;
	margin: 0 auto;	
	padding: 8px;
	border: 1px solid #BBB;
}

input[type=text]:focus {
	border-color: rgb(120, 120, 255);
}

#buttons {
	text-align: center;
	position: relative;
	top: -5px;
}

#buttons p{
	display: inline-block;
	padding: 7px 15px;
	margin-right: 5px;
	border-radius: 1px;
	border: 1px solid #EEE;
	background-color: #EEE;
	font-size: 0.8em;
	font-family: Arial;
	opacity: .55;
}

#buttons p:hover{
	opacity: 1;
	border-color: #BBB;
}

footer {
	position: absolute;
	bottom: -10px;
	background-color: #EEE;
	border-top: 1px solid #DDD;
	height: 45px;
	width: 100%;
	font-size: 0.8em;
	font-family: Arial;
	color: #555;
}

#footer-left {
	float: left;
	position: relative;
	top: -5px;
	left: -20px;
}

#footer-right {
	float: right;
	position: relative;
	top: -5px;
	right: 20px;
}

#footer-left li {
	padding: 0 10px;
}

#footer-right li {
	padding: 0 10px;
}
